<% if logged_in? %>
  <%= erb :'/users/_user_links', locals: {current_user: current_user} %>
<% end %>

<section>
  <h1>All Notes</h1>

  <%= erb :'/_messages', locals: {flash: flash} %>

  <% @notes.each do |note| %>
    <%= erb :'/notes/_note', locals: {note: note, format: 'short'} %>
  <% end %>
</section>

