<% if logged_in? %>
  <%= erb :'/users/_user_links', locals: {current_user: current_user} %>
<% end %>

<h1>All Teas</h1>

<%= erb :'/_messages', locals: {flash: flash} %>

<% @teas.each do |tea| %>
  <%= erb :'/teas/_tea', locals: {tea: tea, format: 'short'} %>
<% end %>

