<h1>Create New Tea</h1>

<%= erb :'/_messages', locals: {flash: flash} %>

<!-- Remove if don't use -->
<%= @error %>

<form action='/teas' method="post">
  <p>
    <label for="name">Name:*</label>
    <input type="text" name="tea[name]" id="name" required>
  </p>
  <p>
    <label for="tea[category]">Category:</label>
    <select name="tea[category]">
      <option value="Aged">Aged</option>
      <option value="Black">Black</option>
      <option value="Green">Green</option>
      <option value="Herbal">Herbal</option>
      <option value="Oolong">Oolong</option>
      <option value="Pu-er">Pu-er</option>  
      <option value="Rooibos">Rooibos</option>            
      <option value="White">White</option>
      <option value="Yellow">Yellow</option>
    </select>
  </p>
  <p>
    <label for="url">URL:</label>
    <input type="text" name="tea[url]" id="url">
  </p>
  <p>
    <label for="country">Region:</label>
    <input type="text" name="tea[region]" id="region">
  </p>
  <p>
    <label for="country">Country:</label>
    <input type="text" name="tea[country]" id="country">
  </p>
  <p>
    <label for="description">Description:*</label>
    <textarea rows="10" cols="50" name="tea[description]" id="descrption" required></textarea>
  </p>

  <fieldset>
    <legend>Shops</legend>
    <label for="tea[shop_id]">Shop Name:</label>
    <select name="tea[shop_id]">
      <option value="none">_New</option>
      <% @shops.each do |shop| %>
        <option value="<%= shop.id %>"><%= shop.name %></option>
      <% end %>
    </select>

    <h3>Or create new shop</h3>
    <p>
      <label for="shop[name]">Shop Name:*</label>
      <input type="text" name="shop[name]" id="shop[name]">
    </p>
    <p>
      <label for="shop[url]">Shop URL:</label>
      <input type="text" name="shop[url]" id="shop[url]">
    </p>
    <p>
      <label for="shop[description]">Shop Description:</label>
      <textarea rows="10" cols="50" name="shop[description]" id="shop[description]"></textarea>
    </p>
  </fieldset>

  <input type="submit" name="Save Tea">
</form>