<%= erb :'/_messages', locals: {flash: flash} %>

<%= erb :'/teas/_tea', locals: {tea: @tea, format: 'detail'} %>

<hr>
<section>
  <a href="/teas/<%=@tea.slug%>/edit">Edit tea</a>

  <form method="post" action="/teas/<%= @tea.slug %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete tea">
  </form>
</section>