<%= erb :'/_messages', locals: {flash: flash} %>

<%= erb :'/teas/_tea', locals: {tea: @tea, format: 'detail'} %>

<section class="edit-entry col nav">
  <a href="/teas/<%=@tea.slug%>/edit" class="btn btn-secondary">Edit tea</a>

  <form method="post" action="/teas/<%= @tea.slug %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete tea" class="btn btn-secondary">
  </form>
</section>