body {
  background-color: #efefef;
  padding: 5px;
}

/* Forms */
label {
  min-width: 10rem;
}
.error {
  padding: 5px;
  background: pink;
  border: 1px solid red;
}
.success {
  padding: 5px;
  background: rgb(141, 240, 141);
  border: 1px solid green;
}

/* Articles */
article {
  background: white;
  padding: 0.5em 0.5em 0.25em;
  margin-bottom: 1em;
}
article h1 {
  font-size: 1.5em;
}
article .post_date {
  font-size: .75em;
  color: #999;
}