/* Page */
body {
  padding: 5px;
}


/* Logo */
hgroup h1 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif
}
hgroup h2 {
  margin-top: -0.5em;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 1em;
}


/* Headings */
#content h1 {
  font-size: 1.5rem;
  margin: .5em 0 1em;
}
#content h2 {
  font-size: 1.5rem;
}
#content h1.display-4 {
  font-size: 3.5rem;
  margin: 0 0 0.25rem;
}


/* Navigation */
.nav-link {
  font-weight: bold;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif
}
.nav-link:hover, .nav-link:focus {
  text-decoration: underline;
}


/* User Links */
.user-links {
  border-bottom: 1px solid #ccc;
}
.user-links .nav {
  margin-bottom: .5em;
}
.user-links .btn {
  font-size: .75em;
}


/* Containers */
#content {
    margin: 1em auto;
    background-color: #efefef;
    border: 1px solid #ccc;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
section {
  margin: 0.5em;
  padding: 0.5em;
}
.jumbotron {
  border: 1px solid #17a2b8;
  margin: 1rem;
}


/* Forms */
ul.alert li {
  list-style-type: none;
}
.success {
  padding: 5px;
  background: rgb(141, 240, 141);
  border: 1px solid green;
}
form fieldset {
  border: 1px solid #ccc;
  padding: 0.5em;
  margin: 0.5em;
}
fieldset legend {
  font-size: 1.25rem;
}


/* Articles */
article {
  background: white;
  padding: 0.75rem 0.5rem 0rem;
  margin: 1em 0;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
article h1 {
  font-size: 1.5em;
}
article .post-date {
  font-size: .75em;
}
article .tea-name {
  margin-top: -1.5em;
  font-size: 0.85em;
}
article .tea-name {
  margin-top: -1.5em;
  font-size: 0.85em;
}


/* Shops */
article.shop .text-muted a,
article.shop a.text-muted {
  color: #6c757d;
}


/* Edit Links */
.edit-entry .btn {
  margin-right: 1em;
}


/* Footer */
.colophon {
  text-align: center;
  font-size: 0.75em;
  margin-top: 2em;
}