<section>
  <div class="row justify-content-between user-links">
    <div class="user col-4">Hi <%=current_user.username %></div>
    <nav class="col nav">
      <li class="col note"><a href="/notes/new" class="btn btn-info">New note</a></li>
      <li class="col"><a href="/users/<%=current_user.slug %>" class="btn btn-secondary">Your notes</a>
      <li class="col"><a href="/users/<%=current_user.slug %>/edit" class="btn btn-secondary">Edit profile</a></li>
      <li class="col logout">
        <form method="post" action="/logout">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input type="submit" value="Log out" class="btn btn-secondary">
        </form>
      </li>
    </nav>
  </div>
</section>