<h1>Edit User</h1>

<form action="/users/<%= @user.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
    <label for="name">Your Name:</label>
    <input type="text" name="user[name]" id="name" value="<%= @user.name %>">
  </p>
  <p>
    <label for="username">Username:*</label>
    <input type="text" name="user[username]" id="username" value="<%= @user.username %>" required>
  </p>

  <h2>Update Password (Optional)</h2>
  <p>
    Password must be more than 6 characters<br/>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password"><br/>
    <label for="password_confirmation">Confirm Password:</label>
    <input type="password" name="user[password_confirmation]" id="password_confirmation">
  </p>

  <input type="submit" name="Update User">
</form>