<h1>Edit User</h1>

<%= erb :'/_messages', locals: {flash: flash} %>

<form action="/users/<%= @user.slug %>" method="POST" class="form-group">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
    <label for="user[name]">Name:</label>
    <input type="text" name="user[name]" id="user[name]" value="<%= @user.name %>" class="form-control">
  </p>
  <p>
    <label for="user[username]">Username:*</label>
    <input type="text" name="user[username]" id="user[username]" value="<%= @user.username %>" class="form-control" required>
  </p>

  <h2>Update Password (Optional)</h2>
  <p>
    <label for="user[password]">Password:</label>
    <input type="password" name="user[password]" id="user[password]" class="form-control" aria-describedby="passwordHelpBlock">
    <small id="passwordHelpBlock" class="form-text text-muted">
      Your password must be more than 6 characters long.
    </small>
    <br/>
    <label for="user[password_confirmation]">Confirm Password:</label>
    <input type="password" name="user[password_confirmation]" id="user[password_confirmation]" class="form-control">
  </p>

  <input type="submit" name="Update User" class="btn btn-info">
</form>