<h1>Log in to Tea Tastes</h1>

<%= erb :'/_messages', locals: {flash: flash} %>

<form action="/login" method="POST" class="form-group">
  <p>
    <label for="user[username]">Username:</label>
    <input type="text" name="user[username]" id="user[username]" class="form-control" required><br/>
    <label for="user[password]">Password:</label>
    <input type="password" name="user[password]" id="user[password]" class="form-control" required>
  </p>
  <input type="submit" value="Log In" class="btn btn-info">
</form>