<h1>Log in to Tea Tastes</h1>
<%= form_error_messages(@errors) %>
<form action="/login" method="POST">
  <p>
    <label for="user[username]">Username:</label>
    <input type="text" name="user[username]" id="user[username]" required><br/>
    <label for="user[password]">Password:</label>
    <input type="password" name="user[password]" id="user[password]" required>
  </p>
  <input type="submit" value="Log In">
</form>