<h1>Sign up for Tea Tastes</h1>

<%= erb :'/_messages', locals: {flash: flash} %>

<form action="/signup" method="POST" class="form-group">
  <p>
    <label for="user[name]">Name:</label>
    <input type="text" name="user[name]" id="user[name]" class="form-control">
  </p>
  <p>
    <label for="user[username]">Prefered Username:*</label>
    <input type="text" name="user[username]" id="user[username]" class="form-control" required>
  </p>
  <p>
    <label for="user[password]">Password:*</label>
    <input type="password" name="user[password]" id="user[password]" class="form-control" aria-describedby="passwordHelpBlock" required>
    <small id="passwordHelpBlock" class="form-text text-muted">
      Your password must be more than 6 characters long.
    </small>
    <br/>
    <label for="password_confirmation">Confirm Password:*</label>
    <input type="password" class="form-control" name="user[password_confirmation]" id="user[password_confirmation]" required>
  </p>
  <input type="submit" value="Sign Up" class="btn btn-info">
</form>