<% if flash.has?(:message) %>
  <% if flash[:type] == "success" %>
    <% @class = "class='alert alert-success'" %>
  <% else %>
    <% @class = "class='alert alert-danger'" %>
  <% end %>

  <ul <%= @class %>>
    <% flash[:message].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>