<h1>Oh no, an Error!</h1>

<section class ="alert alert-danger">
    <h4><%= msg %></h4>

    <h6 class="alert-heading">Option(s):</h6>
    <ul>
        <% links.each do |link, text| %>
            <li><a href="<%= link %>" class="alert-link"><%= text %></a></li>
        <% end %>
    </ul>
</section>