<% if logged_in? %>
  <%= erb :'/users/_user_links', locals: {current_user: current_user} %>
<% else %>
  <div class="jumbotron bg-white">
    <h1 class="display-4">Record those tasty teas!</h1>
    <p class="lead">Tea Tastes helps you to record your thoughts about specific teas, save links to teas and tea shops, and learn about other teas from the community.</p>
    <hr class="my-4">
    <p>Join us to remember all those tasty teas, and to find new favorites!</p>
    <a class="btn btn-info btn-lg" href="/login" role="button">Log In</a> or <a class="btn btn-info btn-lg" href="/signup" role="button">Sign Up</a>
  </div>

<% end %>

<section>
  <h2>Tasting Notes from the Community</h2>
  <% @notes.each do |note| %>
    <%= erb :'/notes/_note', locals: {note: note, format: 'short'} %>
  <% end %>
</section>