<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-reboot.min.css" type="text/css">
    
    <!-- Local CSS -->
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">

    <title>Tea Tastes</title>
  </head>
  <body> 
    <header class="container-fluid">
      <div class="row">
        <hgroup class="col-4">
          <h1><a href="/">Tea Tastes</a></h1>
          <h2>The Place to Think Tea</h2>
        </hgroup>
        <nav class="col nav">
          <a href="/notes" class="col">Tasting Notes</a>
          <a href="/teas" class="col">Teas</a>
          <a href="/shops" class="col">Shops</a>
        </nav>
    </header>

    <section id="content" class="container-fluid">
      <%= yield %>
    </section>

    <footer class="container-fluid">
      Teas are great
    </footer>
  </body>
</html>